.logo {
  width: 96px;
  height: 96px;
}

.carousel-inner > .item > img {
  width:1600px;
  height:800px;
}

.menu li {
  display:inline-block;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

