.logo {
  width: 96px;
  height: 96px;
}

.carousel {
  width:1750px;
  height:850px;
}

.menu li {
  display:inline-block;
}

.navbar {
  background-image: url("https://images.pexels.com/photos/2093252/pexels-photo-2093252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
