.logo {
  width: 96px;
  height: 96px;
}

.carousel {
  width:1750px;
  height:850px;
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
}
.nav>li {
  float: left;
}
